<div>
  <h1 class="display-4">Hello Champion,</h1>
  <p class="lead">
    Do you want end the conflits in Valoran?
    <br/>
    This is your chance to conquer the kingdom and bring peace to the people!
  </p>
  <hr class="my-4">
  <p>
    Click down low to subscribe and bring up your team
    <br/>
    May the odds be ever in your favor!
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" routerLink="/tournament-team-list" routerLinkActive="active">I want to subscribe!</a>
  </p>
</div>