<form class="margin-bottom" [formGroup]="form">
  <fieldset>
    <legend>Add New Team</legend>
    <div class="form-group">
      <label>Team's Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your team's name"
        maxlength="30"
        formControlName="name"
      />
      <small *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
        this field must be between 3 and 30 characters
      </small>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
      (click)="add()"
    >
      Submit
    </button>
  </fieldset>
</form>

<div>
  <legend>Select 4 Teams to Battle</legend>
  <div class="row">
    <div
      class="col-lg-4 col-md-12"
      *ngFor="let team of teams"
    >
      <div class="text-white bg-secondary card-body mb-3">
        <h4 class="card-title">
          {{ team.name }} <i class="fa fa-check-circle text-success" *ngIf="team.isSelected"></i>
        </h4>
        <div class="row">
          <p class="card-text col-lg-12">
            <button
              type="button"
              class="btn btn-primary col-lg-5 col-md-12 mr-md-4 mb-3"
              *ngIf="!team.isSelected"
              (click)="markAsSelected(team)"
            >
            <i class="fa fa-check-circle"></i> Select
            </button>
            <button
              type="button"
              class="btn btn-warning col-lg-5 col-md-12 mr-md-4 mb-3"
              *ngIf="team.isSelected"
              (click)="markAsCanceled(team)"
            >
            <i class="fa fa-ban" aria-hidden="true"></i> Cancel
            </button>
            <button
              type="button"
              class="btn btn-outline-danger col-lg-5 col-md-12 mb-3"
              (click)="delete(team)"
            >
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/tournament-battle">
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="qtdSelectedTeams != 4"
        [hidden]="teams.length == 0"
      >
        Go to Battle
    </button>
  </a>
</div>

<h5 [hidden]="teams.length > 0">No teams yet.</h5>